@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  height: 100vh;
  width: 100vw;
  font-family: Roboto, Arial;
}

.background {
  background-image: linear-gradient(45deg, #606c88 0%, #3f4c6b 120%);
}

.form h1 {
  margin: 0;
  padding: 0;
}

.form {
  height: 20em;
  transform: translateY(45%);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  padding: 3em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25em;
  text-align: center;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  text-align: center;
  margin: auto;
}
